<div class="body">
  <div class="header">
    <img src="/assets/IMG_3697.jpg" class="avatar" alt="Avatar">

    <div class="info">
      <h1 class="name">Valentine Logvinov</h1>
      <div class="subinfo">Ruby on Rails Developer</div>
    </div>
  </div>

  <div class="content">
    <div class="content-body">
      <div class="main">
        <div class="main-header">
          <img src="/assets/user.svg" class="icon" alt="user">
          <h4>Profile</h4>
        </div>
        <p>Ruby on Rails developer with 3+ years of experience and specialized technical education. Experienced with jQuery, HTML, CSS, good understanding of OOP, MVC pattern, Postgres/Mongo databases, Redis, message brokers. English level - B2. Have an experience in communication with customers. Experienced with deployment systems, familiar with Docker, Kubernetes. Worked with English-speaking customers on e-commerce-oriented projects, experienced in creating and support business solutions, building API at high-loaded large projects with monolith/service architecture. Experienced in scrum.</p>
      </div>

      <div class="main">
        <div class="main-header">
          <img src="/assets/briefcase.svg" class="icon" alt="briefcase">
          <h4>Employment history</h4>
        </div>

        <h5>SOFTSWISS</h5>
        <div class="subinfo">November 2022 - Current time</div>
        <ul>
          <li>Implemented new features & business logic for a huge casino platform and microservices</li>
          <li>Integrated monitoring system</li>
          <li>Improved performance e.g. DB query optimizations, Kafka/Hutch messages allocations, refactoring</li>
          <li>Worked with event-based part of architecture</li>
          <li>Fixed bugs and wrote tests</li>
          <li>Reviewed teammate's code</li>
          <li>Worked on different components of the project with 7-10 size team</li>
          <li>Communicated with QA, BA, Front-End developers & Architects</li>
        </ul>

        <h5>Company website</h5>
        <div class="subinfo">August 2022 - November 2022</div>
        <ul>
          <li>Completely changed the front-end of the web-application according to new design</li>
          <li>Improved backend, refactored legacy code</li>
          <li>Migrated data</li>
        </ul>

        <h5>Company website</h5>
        <div class="subinfo">September 2021 - August 2022</div>
        <ul>
          <li>Rewrote jQuery to JavaScript</li>
          <li>HTML+CSS fixes</li>
          <li>Performed page speed insights</li>
        </ul>

        <h5>Flowers shop Slovakia-based company at Slovakia-based company</h5>
        <div class="subinfo">April 2022 - June 2022</div>
        <ul>
          <li>Improved business logic</li>
          <li>Added new features for admin panel</li>
          <li>Interacted with mobile app, repaired business-logic and fixed bugs</li>
        </ul>

        <h5>Social project for donor offspring at USA-based company</h5>
        <div class="subinfo">December 2022 - February 2022</div>
        <ul>
          <li>Fixed backend/frontend issues</li>
          <li>Worked with stats</li>
          <li>Fixed deployment processes</li>
          <li>Server & app speed improvements</li>
          <li>Communicated with customer</li>
        </ul>

        <h5>Event staffing system at UK-based company</h5>
        <div class="subinfo">October 2021 - December 2021</div>
        <ul>
          <li>Changed layouts</li>
          <li>Repaired calculations & other business logic</li>
          <li>Fixed queries</li>
        </ul>

        <h5>eCommerce clothing shop for Netherlands-based company</h5>
        <div class="subinfo">April 2021 - August 2021</div>
        <p>Spree-based eCommerce</p>
        <ul>
          <li>Fixed bugs in business logic of the online shop</li>
          <li>Speed improvements</li>
          <li>Refactored site URL-structure for better indexing</li>
          <li>Moved local storage to Amazon S3 for site load improvement</li>
          <li>Coded custom search filters</li>
          <li>Migrated deployment environment, integrated capistrano</li>
          <li>Coded images preprocessing</li>
          <li>Fixed the file uploading bugs</li>
        </ul>

        <h5>Project for Ads at Self-education</h5>
        <div class="subinfo">December 2020 - February 2021</div>
        <p>Text format editor</p>
        <ul>
          <li>Built backend with Devise, CanCan, Bullet, etc.</li>
          <li>Built frontend with Bootstrap</li>
          <li>Refactoring with Rubocop</li>
          <li>Integrated RSpec tests</li>
          <li>Coded admin dashboard with ActiveAdmin</li>
          <li>Self-task management with Trello</li>
          <li>Optimized queries, got rid of N+1</li>
        </ul>

        <h5>BestZmest at Belarusian State University of Informatics and Radio electronics</h5>
        <div class="subinfo">June 2020 - July 2020</div>
        <p>Text formatting app for students, teachers, etc.</p>
        <ul>
          <li>Fixed layouts bugs with HTML, CSS</li>
          <li>Page layouts</li>
          <li>Learned VueJS</li>
        </ul>
      </div>

      <div class="main">
        <div class="main-header">
          <img src="/assets/graduation-cap.svg" class="icon" alt="user">
          <h4>Education</h4>
        </div>
        <h5>Bachelor, BSUIR, Minsk</h5>
        <div class="subinfo">September 2016 - June 2017</div>
        <p>Belarusian State University of Informatics and Radioelectronics <br>Computer Systems & Networks, Software engineer</p>
        <br>
        <h5>Bachelor, BSUIR, Minsk</h5>
        <div class="subinfo">September 2017 - June 2021</div>
        <p>Belarusian State University of Informatics and Radioelectronics <br>Engineering Psychology & Ergonomics, Systems engineer</p>
      </div>

      <div class="main">
        <div class="main-header">
          <img src="/assets/diploma.svg" class="icon" alt="user">
          <h4>Soft skills</h4>
        </div>
        <ul>
          <li>Goal-oriented</li>
          <li>Time-management</li>
          <li>Listening skills</li>
          <li>Emotional and stress management</li>
          <li>Team player</li>
        </ul>
      </div>
    </div>

    <div class="sidebar">
      <div class="sidebar-block">
        <h5>Details</h5>
        <p>Warsaw</p>
        <p>Poland</p>
        <p>Email: valik.logvinov@gmail.com</p>
        <p>LinkedIn: https://www.linkedin.com/in/valentine-logvinov-019239171/</p>
        <p>Telegram: @lastionesch</p>
      </div>

      <div class="sidebar-block">
        <h5>Skills</h5>
        <p>Ruby on Rails</p>
        <p>JavaScript</p>
        <p>HTML+CSS(Sass/SCSS)</p>
        <p>Postgres, MongoDB</p>
        <p>Kafka, RabbitMQ</p>
        <p>Karafka/Hutch</p>
        <p>Sidekiq</p>
        <p>Redis</p>
        <p>Faraday, RESTful API</p>
        <p>Git</p>
        <p>AWS, Docker</p>
        <p>Linus</p>
        <p>Puppeteer</p>
        <p>Bootstrap</p>
        <p>Capistrano,Postman</p>
        <p>SOLID principles</p>
        <p>Scrum</p>
      </div>

      <div class="sidebar-block">
        <h5>Languages</h5>
        <p>– English B2</p>
      </div>
    </div>
  </div>
</div>