<div class="body">
  <div class="header">
    <img src="/assets/IMG_3697.jpg" class="avatar" alt="Avatar">

    <div class="info">
      <h1 class="name">Valiantsin Lohvinau</h1>
      <div class="subinfo">Ruby on Rails Developer</div>
    </div>
  </div>

  <div class="content">
    <div class="content-body">
      <div class="sidebar-block">
        <p>Warsaw, Poland | valik.logvinov@gmail.com | <a href='https://www.linkedin.com/in/valiantsin-lohvinau-019239171/'>LinkedIn</a> | <a href="https://t.me/lastionesch">Telegram</a></p>
      </div>
      <div class="main">
        <div class="main-header">
          <img src="/assets/user.svg" class="icon" alt="user">
          <h4>Summary</h4>
        </div>
        <p>Ruby on Rails developer with 3+ years of experience in building and maintaining scalable web-applications. Proficient in full-stack development with a strong emphasis on back-end and API design. Committed to writing clean, maintainable, tested code and continuously improving the development process with SOLID principles. Have a higher technical education</p>
      </div>
      <div class="sidebar">
        <div class="sidebar-block">
          <div class="main-header">
            <img src="/assets/diploma.svg" class="icon" alt="user">
            <h4>Skills</h4>
          </div>
          <p><b>Languages:</b> Ruby on Rails, JavaScript, HTML, CSS, SQL</p>
          <p><b>Developer tools:</b> Git, RubyMine, Docker, Postman, Rubocop, Simplecov</p>
          <p><b>Issue tracking:</b> Redmine, Jira, Trello</p>
          <p><b>Alert monitoring:</b> Sentry, DataDog, Grafana, IBM Instana</p>
          <p><b>Methodologies:</b> Agile(Scrum), Kanban</p>
          <p><b>Documentation:</b> Confluence, Swagger</p>
        </div>

        <div class="sidebar-block">
          <h5>Languages</h5>
          <p>– English B2</p>
          <p>– Polish A1</p>
        </div>
      </div>

      <div class="main">
        <div class="main-header">
          <img src="/assets/briefcase.svg" class="icon" alt="briefcase">
          <h4>Employment history</h4>
        </div>

        <h5>SOFTSWISS</h5>
        <div class="subinfo">November 2022 - Current time</div>
        <ul>
          <li>Implemented new features and business logic for a high-loaded SaaS platform and microservices</li>
          <li>Improved performance of application with optimizing database structure and storage, refactored and cleaned code, monitored latency</li>
          <li>Created events on event-based part of project architecture</li>
          <li>Created filters in microservices associated with a monolith to respond JSON</li>
          <li>Decreased latency by improvements in Karafka/Hutch consumers & producers</li>
          <li>Created view components via JavaScript & CoffeeScript and built CSV</li>
          <li>Created background jobs with Sidekiq</li>
          <li>Fixed bugs and covered code by tests with RSpec</li>
          <li>Integrated monitoring system Instana</li>
          <li>Created swagger documentation</li>
          <li>Reviewed team's code</li>
          <li>Communicated with QA, BA, Front-End developers & Architects</li>
        </ul>

        <h5>RubyroidLabs</h5>
        <div class="subinfo">April 2021 - November 2022</div>

        <ul>
          <li>Internal website</li>
          <ul>
            <li>Created completely new page layouts, modal windows and other view components, stylized with SCSS</li>
            <li>Improved backend, refactored legacy code and removed unused ones</li>
            <li>Migrated data, optimized DB structure in accordance with new design</li>
            <li>Rewrote old jQuery code to JavaScript, refactored code</li>
            <li>Performed page speed insights, analyzed with Google Pagespeed Insights, Bullet, configured codeable content in WordPress</li>
          </ul>

          <li>Flowers shop</li>
          <ul>
            <li>Added new features in admin panel for business operations</li>
            <li>Repaired business-logic and fixed bugs with calculations on API, data display, remote requests </li>
            <li>Fixed logic related to location determination within integrated Google Maps</li>
            <li>Tested functionality and presented demo to customer</li>
          </ul>

          <li>Social project for donor offspring</li>
          <ul>
            <li>Fixed backend/frontend issues in main website, added pagination, fixed request errors</li>
            <li>Worked with stats, set up Google Analytics</li>
            <li>Fixed deployment processes</li>
            <li>Server & app speed improvements by adding pagination and filters, modernised server</li>
          </ul>

          <li>Event staffing system</li>
          <ul>
            <li>Changed layouts(icons, sidebars)</li>
            <li>Fixed DB queries, optimized speed</li>
            <li>Communicated with the customer & tested functionality</li>
          </ul>

          <li>Spree-based eCommerce clothing shop</li>
          <ul>
            <li>Fixed bugs in business logic of the online shop</li>
            <li>Speed improvements by SQL queries optimizations, getting rid of N+1</li>
            <li>Refactored site URL-structure for better indexing</li>
            <li>Moved local storage to Amazon S3 for site load improvement</li>
            <li>Coded custom search filters</li>
            <li>Migrated deployment environment, integrated capistrano</li>
            <li>Coded images preprocessing</li>
            <li>Fixed the file uploading bugs</li>
            <li>Set up Google Analytics</li>
          </ul>
        </ul>

        <h5>Project for Ads at Self-education</h5>
        <ul>
          <li>Built backend with Devise, CanCan, Bullet, etc.</li>
          <li>Built frontend with Bootstrap</li>
          <li>Refactoring with Rubocop</li>
          <li>Integrated RSpec tests</li>
          <li>Coded admin dashboard with ActiveAdmin</li>
          <li>Optimized queries, got rid of N+1</li>
          <li>Self-task management with Trello</li>
        </ul>
      </div>

      <div class="main">
        <div class="main-header">
          <img src="/assets/graduation-cap.svg" class="icon" alt="user">
          <h4>Education</h4>
        </div>
        <h5>Bachelor, BSUIR, Minsk</h5>
        <div class="subinfo">September 2016 - June 2017</div>
        <p>Belarusian State University of Informatics and Radioelectronics <br>Computer Systems & Networks, Software engineer</p>
        <br>
        <h5>Bachelor, BSUIR, Minsk</h5>
        <div class="subinfo">September 2017 - June 2021</div>
        <p>Belarusian State University of Informatics and Radioelectronics <br>Engineering Psychology & Ergonomics, Systems engineer</p>
      </div>
    </div>
  </div>
</div>